<h1>会計年度：<%= @fiscal_year.select_box_name %></h1>
<h3>ダッシュボード (<%= @journal_date.strftime('%Y-%m-%d') %> 現在)</h3>
<div class="container">
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
