<div class="page-header">
  <h1><%=t '.title', :default => '設定画面' %></h1>
</div>

<div class="col-lg-5">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Menu</li>
      <li><%= link_to "パスワードの変更", "/security"  %></li>
      <li><%= link_to "会計年度の設定", "/fiscal_years"  %></li>
    </ul>
  </div>

  <%= link_to t('.back', :default => t("helpers.links.back")),
          root_path,
          :class => 'btn btn-default btn-lg' %>
</div>
