<%- model_class = Journal -%>
<h4 class="font_blue">
  <%=t '.title', default: [:'helpers.titles.copy', 'Copy %{model}'], model: model_class.model_name.human.titleize %>
  (元の取引がコピーされます)
</h4>
<%= render partial: 'form' %>
