<table class="table table-striped">
  <tbody>
  <% @subjects.each do |subject| %>
    <tr>
      <!-- TODO: スクリプトの呼び出しに変更する。idを渡しましょう -->
      <td class="<%= @select_function_name %>"><%= subject.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
