<table class="table table-striped condensed-table">
  <tbody>
  <% @subjects.each do |subject| %>
    <tr>
      <td id="<%= subject.id %>" class="select-subject <%= @td_class_name %>"><%= subject.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
