$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;
$white: #ffffff;

$dark_blue: #0000cd;
$very_dark_blue: darken($dark_blue, 25%);
$light_blue: #aaaacd;

$light_steel_blue: #b0c4de;

$red: #cc0000;
$green: #00aa00;
$dark_magenta: #8b008b;