html,
body {
  height: 100%;
}

.journal-input-container {
  height: 40% !important;
  .journal-form-container {
    top: 0px;
    margin: 3px;
    height: 100%;
  }
  .subjects {
    margin: 3px;
    position: relative;
    width: 18%;
    height: 100%;
    padding: 6px;
    border: 4px solid chocolate;
  }
  .subjects-debit-container {
    float: left;
    top: -3px;
  }
  .subjects-credit-container {
    top: -3px;
    float: right;
  }
  .scroll-container {
    overflow: scroll;
    height: 100%;
  }
  .journal-form {
    padding: 10px;
    border: 4px solid #44cccc;
  }
}

.journal-field-container {
  margin-top: 6px;
}

.journal-field-title {
  padding-top: 8px;
  font-weight: bold;
}

.journals-view-container {
  margin: 15px 15px;
  height: 40% !important;
}

ul.nav-tabs {
  background-color: #44cccc;
}

.select-subject:hover {
  background-color: #ccffff !important;
}

.journal-list-table {
  tbody {
    tr:hover {
      background-color: #ccffff !important;
    }
  }
}

.price {
  text-align: right;
}

div.right-box {
  float: right;
}
