@import 'colors';
@import 'dimensions';

div.navbar-right {
  float: right;
  vertical-align: middle;
  padding: 15px;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: $dark_gray;
  font-size: small;
  color: $very_light_gray;
  p {
    text-align: left;
    padding: $moderate;
    margin: 0;
  }
}
